*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, #6c1781, #e16b11);
    
}

.cadastro{
    background-color: rgb(18, 29, 52);
    width: 430px;   
    padding: 40px;
    border-radius: 50px 0 50px 0;
    box-shadow: 5px 13px 10px rgb(5, 8, 22);
}

.cadastro h2{
    margin-bottom: 30px;
    text-align: center;
    color: white;
    font-size: 25px;
    letter-spacing: 3px;
}

.box{
    position: relative;
}

.box input{
    width: 100%;
    padding: 10px 0px;
    outline: none;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid white;
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    transition: .5s;
}

.box label{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px 0px;
    color: white;
    font-size: 16px;
    pointer-events: none;
    transition: .6s;
}

.box input:focus~label,
.box input:valid~label
{
    top: -20px;
    font-size: 14px;
    color: rgb(99, 109, 165);
    font-weight: bold;
}


.btn-cadastro button{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    margin-bottom: 13px;
    color: white;
    background-image: linear-gradient(to right, #6c1781, #e16b11);
    font-size: 15px;
    letter-spacing: .6px;
}

.backLogin{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}

.fa-eye{
    position: absolute;
    top: 14px;
    right: 10px;
    color: rgb(179, 169, 169);
    cursor: pointer;
}